.blog-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin: 0 auto;
    gap: 10px;
}

.blog-title {
    font-weight: 900;
}

h2 {
    margin-bottom: 30px;
}

.date {
    font-weight: lighter;
}

.blog-container div {
    border: 2px solid white;
    padding: 15px 15px;
    border-radius: 1%;
    background-color: #292521;
}

.edit-container {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    padding-top: 5px;
    
    
}

input, textarea {
    margin: 0;
    width: 90%;
    margin: 20px 5%;
    background-color: #292521;
    
}

.edit-container button {
    width: 90%;
    margin: 20px 5%;
}

.edit-container h2 {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 40px;
}


